// Event Description
&__description {
	border-bottom: $border-pannel;
	padding-bottom: 24px;
	// padding-top: 24px;

	@include media-breakpoint-down($range-device) {
		flex-direction: column-reverse;
	}

	&--description {
		padding-top: 32px;
	}

	.info {
		&__date {
			padding-top: 48px;
		}

		&__location {
			padding-top: 48px;
		}
	}

	.share-event {
		text-align: left;

		&__icon {
			cursor: pointer;
			margin-left: 16px;

			&:hover {
				color: rgb(70, 103, 153);
			}
		}

		svg {
			color: black;
			font-size: 50px;
		}
	}
}
