.step-controller {
	&__wrapper {
		align-items: center;
		background: #f8f9fa !important;
		bottom: 0;
		box-shadow: 0 8px 20px -9px rgba(0, 0, 0, 0.3);
		display: flex;
		height: 70px;
		justify-content: flex-end;
		left: 0;
		padding: 16px 32px;
		position: fixed;
		width: 100%;
		z-index: 3;
	}
}
