
.content-bucket {
    position: relative;
    max-width: 1272px;
    margin-left: auto;
    margin-right: auto;
}

.eds-l-pad-vert-20 {
    padding-top: 80px;
    padding-bottom: 80px;
}

.eds-show-up-md {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    flex: 1;
    -ms-flex: 1 1 auto;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    letter-spacing: normal;
    font-size: 14px;
}

.eds-g-cell.eds-g-cell--has-overflow {
    overflow: visible;
}

.eds-g-cell-3-12 {
    width: 25%;
}

.eds-color, .eds-g-cell {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
}

.eds-media-card-content__content-container {
    display: block;
    overflow: visible;
    position: relative;
    padding: 24px;
}

.eds-media-card-content__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}

.eds-media-card-content__extra-content eds-l-pad-right-4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}

.eds-is-hidden-accessible{
    position: absolute;
    left: -999999px
}

.eds-media-card-content__primary-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}

.eds-media-card-content__sub-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}

.eds-event-card__formatted-name--is-clamped{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.eds-media-card-content__actions-container eds-media-card-content__actions-container--always-visible {
    opacity: 1!important;
}

.eds-media-card-content__actions-container__action eds-l-pad-all-1 eds-l-mar-right-2 {
    background-color: #fff;
    background-color: var(--eds-background,#fff);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
}

.eds-icon-button eds-icon-button--neutral {
    background-color: #fff;
    background-color: var(--eds-background,#fff);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
}

.eds-icon-button button {
    border-radius: 40px;
    height: 40px;
    padding: 8px;
    -webkit-transition: all .4s cubic-bezier(.4,0,.3,1);
    transition: all .4s cubic-bezier(.4,0,.3,1);
    width: 40px;
}


.eds-icon-button--neutral button, .eds-icon-button button {
    color: #4b4d63;
    color: var(--eds-ui-700,#4b4d63);
    fill: #4b4d63;
    fill: var(--eds-ui-700,#4b4d63);
}

.eds-vector-image--block {
    display: block;
}

.eds-vector-image {
    display: inline-block;
    margin: 0 auto;
    vertical-align: middle;
    background-size: contain;
    line-height: 0;
}

.eds-brand--small, .eds-brand--small svg, .eds-icon--small, .eds-icon--small svg {
    width: 24px;
    height: 24px;
}

.btn-secondary {
    border-radius: 40px;
    height: 40px;
    padding: 8px;
    -webkit-transition: all .4s cubic-bezier(.4,0,.3,1);
    transition: all .4s cubic-bezier(.4,0,.3,1);
    background-color: #ffffff;
    border-color: #ffffff;
}

.contentEvent {
    display: -webkit-box; 
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.seeLink {
    float: right;
    margin-left: auto;
}
