.event-time {
    &--month {
      color: #f05537;
      font-size: 0.75rem;
      line-height: 1rem;
    }
  }

.event-title { 
    color: #39364f;
    font-size: 1.125rem;
    line-height: 1.5rem;
    letter-spacing: 0.25px;
    font-weight: 600
  }

.contentEvent {
  display: -webkit-box; 
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
}

.seeLink {
  float: right;
  margin-left: auto;
}

.btn-secondary {
  border-radius: 40px;
  height: 40px;
  margin-right : 20px;
  margin-top : -15px;
}