.event-item {
	.item {
		border: 0px solid rgb(235, 235, 235);

		&:hover {
			box-shadow: 7px 20px 20px 13px rgba(40, 44, 53, 0.1),
			0 2px 2px 0 rgba(40, 44, 53, 0.1);
			background-color: white;

			border-radius: 4px;
			transition: all 0.35s ease-in,
			background-color 0.24s cubic-bezier(0.4, 0, 0.3, 1);
		}

		&__image {		
			img {
				width: 100%;
				height: 100%;
			}

			.item__free {
				width: 87px;
				height: 36px;
				border-radius: 4px;
				background-color: #fff;        
				top: 12px;
				right: -12px;
				color: #6f7287;
				line-height: 1.25rem;
			}
		}

		&__info {
			.info {
				&__month {
					color: #f05537;
					font-size: 0.75rem;
					line-height: 1rem;
				}

				&__date {
					color: "#6f7287";
					font-size: "1.125rem";
					line-height: "1.5rem";
				}

				&__title {
					color: #39364f;
					font-size: 1.125rem;
					line-height: 1.5rem;
					font-weight: 60px;
				}

				&__content {
					color: #6f7287;
					font-size: 0.75rem;
					line-height: 1rem;
				}

				&__address {
					color: #6f7287;
					font-size: 0.75rem;
					line-height: 1rem;
				}

				&__price {
					color: #6f7287;
					font-size: 0.75rem;
					line-height: 1rem;
				}
			}
		}

		&__action {
			width: 112px;
			top: -22px;
			right: 16px;

			.item-share {
				border-radius: 50%;
				border: 1px solid #eeedf2;
				padding: 1px;
				width: 44px;
				height: 44px;
				background: white;
				cursor: pointer;
			}

			.item-like {
				border-radius: 50%;
				border: 1px solid #eeedf2;
				padding: 1px;
				width: 44px;
				height: 44px;
				background: white;
				cursor: pointer;
			}
		}
	}
}
