.event-time {
    &--month {
      color: #f05537;
      font-size: 0.75rem;
      line-height: 1rem;
    }
  }

.event-title {
    color: #39364f;
    font-size: 1.125rem;
    line-height: 1.5rem;
    letter-spacing: 0.25px;
    font-weight: 600
  }
