$height-item: 245px;

.categories-event {
	background: #1f0a3d !important;
	color: #fff !important;
	left: -15px;
	padding-bottom: 3rem;
	padding-left: 3rem;
	padding-right: 3rem;
	position: relative;
	width: calc(100% + 30px);

	&__title {
		font-size: 3rem;
		padding-bottom: 30px;
		padding-top: 30px;
	}

	&__item {
		height: 300px;
		width: $height-item;

		&--image {
			height: $height-item;
			overflow: hidden;
			width: $height-item;

			img {
				height: $height-item;
				object-fit: cover;
				width: $height-item;
			}
		}
	}

	.slick-next,
	.slick-prev {
		&::before {
			content: "";
		}
	}

	&__arrow {
		align-items: center !important;
		background: #e5e5e5 !important;
		height: 80px !important;
		// prettier-ignore
		top: calc(#{$height-item} / 2) !important;
		width: 32px !important;

		:hover {
			background: #00bbab !important;
		}

		&--content {
			align-items: center !important;
			font-size: 16px;
			height: 100%;
			width: 100%;
		}

		svg {
			color: #32323d !important;
			height: 16px !important;
			width: 16px !important;
		}

		&--next {
			right: -48px !important;
		}

		&--prev {
			left: -48px !important;
		}
	}
}
