// Event ticket
&__ticket {
	background: #fff;
	border-bottom: $border-pannel;
	height: 60px;
	padding: 10px;
	position: relative;

	@include media-breakpoint-down($range-device) {
		height: 100px;
	}

	&--actions {
		@include media-breakpoint-down($range-device) {
			display: none !important;
		}
	}

	&--like,
	&--share {
		animation-delay: 1.2s;
		padding-left: 16px;
		padding-right: 16px;
		transition-delay: 2s;
		width: 100%;

		svg {
			color: rgb(90, 106, 110);
			cursor: pointer;
			height: 20px !important;
			width: auto !important;

			&:hover {
				color: rgb(0, 90, 126);
			}
		}
	}

	&--tickets {
		height: 100%;

		@include media-breakpoint-up($range-device) {
			justify-content: flex-end;
		}

		@include media-breakpoint-down($range-device) {
			align-items: center;
			flex-flow: column;
			justify-content: center;
		}

		.tickets__price {
			font-weight: 400;
			height: 50%;

			@include media-breakpoint-up($range-device) {
				display: none !important;
			}
		}

		button {
			background-color: #179c55;
			border: 2px solid transparent;
			border-radius: 4px;
			color: #fff;
			cursor: pointer;
			height: 100%;
			text-decoration: none;
			transition: all 0.2s ease-out;
			width: 250px;

			@include media-breakpoint-down($range-device) {
				height: 50%;
				width: 280px;
			}
		}
	}

	p {
		color: #00597c;
		font-size: 0.9rem;
		line-height: 1.25rem;
		margin: 0;
		padding: 0;

		@include media-breakpoint-down($range-device) {
			display: none !important;
		}
	}

	.title {
		&__name {
			font-weight: 600;
		}

		&__time {
			font-size: 0.8rem;
		}
	}
}
