.header-search {
	position: relative;

	&__content {
		background-color: #1e0a3c;
		color: #fff;
	}

	&__input-wrapper {
		padding: 12px 0;
		width: 100%;
	}

	&__drop-down {
		background-color: #fff;
		border: 1px solid rgb(212, 212, 212);
		box-shadow:
		0 1px 17px 0 rgba(40, 44, 53, 0.1),
		0 2px 4px 0 rgba(40, 44, 53, 0.1);
		color: black;
		max-height: 60vh;
		overflow: auto;
		text-align: left;
		width: 100%;
		z-index: 100;
	}

	&__item {
		cursor: pointer;
		padding-bottom: 16px;
		padding-top: 16px;

		&--header {
			color: #39364f;
			cursor: default;
			font-size: 18px;
			font-weight: 600;
			padding: 4px 16px;
		}

		&:hover {
			background-color: #f8f7fa;
			color: #1e0a3c;
			outline: none;
			text-decoration: none;
		}
	}
}
