.footer {
	background-color: hsl(264, 71%, 14%);
	color: #dbdae3;
	font-size: 12px;
	text-decoration: none;

	&__category {
		text-align: left;

		&.subject {
			font-size: 1.17em;
			padding-bottom: 8px;
			padding-top: 8px;
		}

		ul {
			padding-inline-start: 0;
		}

		li {
			list-style-type: none;
		}

		a {
			color: #dbdae3;
		}
	}

	&__logo {
		padding-bottom: 16px;
		padding-top: 16px;

		li {
			display: inline-block;
		}

		&.link-bullet {
			&::after {
				color: rgb(111, 114, 135);
				content: '●';
				font-size: 6px;
				line-height: 16px;
				padding: 0 8px;
				position: relative;
				top: -2px;
			}
		}
	}

	&__shortcut {
		color: #6f7287;
		padding-bottom: 16px;
		padding-top: 16px;
	}
}
