.event-item {
	.item {
		border: 0 solid rgb(235, 235, 235);
		border-radius: 4px;
		box-shadow:
		2px 1px 6px 0 rgba(40, 44, 53, 0.1),
		0 2px 2px 0 rgba(40, 44, 53, 0.1);
		width: 100%;

		&__image {
			height: 150px;
			overflow: hidden;

			img {
				height: 100%;
				width: 100%;
			}

			&--free {
				background-color: #fff;
				border-radius: 4px;
				box-shadow:
				0 4px 15px 0 rgba(40, 44, 53, 0.06),
				0 2px 2px 0 rgba(40, 44, 53, 0.08);
				color: #6f7287;
				height: 30px;
				line-height: 1.25rem;
				right: 8px;
				top: 12px;
				width: 70px;
			}
		}

		&__info {
			margin-bottom: 0;
			margin-top: 4px;
			text-align: left;

			&__wrapper {
				height: 200px;
			}

			&--month {
				color: #f05537;
				font-size: 0.75rem;
				line-height: 1rem;
			}

			&--date {
				color: '#6f7287';
				font-size: 1.125rem;
				line-height: 1.5rem;
			}

			&--title {
				color: #39364f;
				font-size: 1.125rem;
				font-weight: 60px;
				line-height: 1.5rem;
			}

			&--time {
				color: #6f7287;
				font-size: 0.75rem;
				line-height: 1rem;
			}

			&--address {
				color: #6f7287;
				font-size: 0.75rem;
				font-weight: 500;
				line-height: 1rem;
			}

			&--price {
				color: #6f7287;
				font-size: 0.75rem;
				line-height: 1rem;
			}
		}

		&__action {
			right: 16px;
			top: -40px;
			width: 120px;

			&--share {
				background: white;
				border: 1px solid #eeedf2;
				border-radius: 50%;
				cursor: pointer;
				height: 44px;
				padding: 1px;
				width: 44px;
			}

			&--like {
				background: white;
				border: 1px solid #eeedf2;
				border-radius: 50%;
				cursor: pointer;
				height: 44px;
				padding: 1px;
				width: 44px;
			}
		}

		&:hover {
			background-color: white;
			border-radius: 4px;
			box-shadow:
			7px 20px 20px 13px rgba(40, 44, 53, 0.1),
			0 2px 2px 0 rgba(40, 44, 53, 0.1);
			cursor: pointer;
			transition:
			all 0.35s ease-in,
			background-color 0.24s cubic-bezier(0.4, 0, 0.3, 1);
		}
	}
}
