.event-search {
	&__image {
		width: 100%;
	}

	&__title {
		color: #1e0a3c;
		font-size: 14px;
		font-weight: 600;
		margin: 0;
	}

	&__content {
		color: #6f7287;
		font-size: 12px;
		margin: 0;
	}
}
