.free {
	background-color: #000;
	border-radius: 100px;
	box-shadow:
	0 4px 15px 0 rgba(40, 44, 53, 0.06),
	0 2px 2px 0 rgba(40, 44, 53, 0.08);
	color: #6f7287;
	height: 30px;
	line-height: 1.25rem;
	right: 8px;
	top: 12px;
	width: 50px;
}
