.clear-icon {
	cursor: pointer;
	position: absolute;
	right: -15px;
	top: -15px;
}

.label-upload {
	align-items: center;
	background: white;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	min-height: 150px;
	padding: 32px;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 2;

	&.hide {
		display: none;
	}
}
